#eggTimerWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("../Media/Example\ 1.2\(1\).png");
    background-position: center;
}

.topOfBox {
  margin-top: -7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topOfBox > :first-child{
  margin-bottom: 4px;
  font-size: 40px;
}

.choices{   
    height: 10vh;
    width: 120%;
    background-color: #F1F1F0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.choices > * {
  display: flex;
  align-self: center;
  margin: 2px;
  background-color: #f8bd63;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.timerEgg{
    height: 50vh;
    width: 50vh;

    background-image: url("../Media/eggTimerShape.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;  

    display: flex;
    justify-content: center;
    position: relative;
}

 .inner_circle{
    position: absolute;
    bottom: 11.5%;  
    width: 205px; 
    height: 205px;
    border-radius: 50%;
    z-index:0;
    display:flex;
    justify-content: center;
}

.timerDone{
  animation: timerAnimation 1s infinite;
}

.pauseButton {
  background-image: url("../Media/pause.png");;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
    

 @keyframes timerAnimation {
    50% { transform: scale(0.8); }

} 

.Timer{
    z-index:1;
    border-radius:50%;
    background: white; 
    position: absolute;
    bottom: 13%;    
    height: 195px;
    width: 195px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.backButton {
  color: rgb(82, 82, 82);
  background-color: #F1F1F0;
  width: 85%;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 18px;
}

.backButton:hover {
  background-color: #f8bd63;
}

.backButton:active {
  background-color: #fab856;
}

.backButton > img {
  margin-left: 0px;
}


