#eggTimerWrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("../Media/Example\ 1.2\(1\).png");
    background-position: center;
}

.choices{   
    height: 10vh;
    width: 90%;
    background-color: #F1F1F0;
    /* background-color: rgb(235, 234, 234); */
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.choices > * {
  display: flex;
  align-self: center;
  margin: 10px;
  background-color: #f8bd63;
  padding: 10px;
  border-radius: 10px;
}

#timerEgg{
    height: 50vh;
    width: 50vh;

    background-image: url("../Media/eggTimerShape.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;  

    display: flex;
    justify-content: center;
}

 .inner_circle{
    position: absolute;
    bottom: 99px;  
    width: 205px; 
    height: 205px;
    border-radius: 50%;
   /* animation: timerAnimation 60s linear infinite;  */
    z-index:0;
    /*background: linear-gradient(rgba(250, 228, 118, 0.5), transparent);  */
    display:flex;
    justify-content: center;
}
    

/* @keyframes timerAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  } 
} */

.Timer{
    z-index:1;
     border-radius:50%;
     background: white; 
    position: absolute;
    bottom: 105px;    
    height: 195px;
    width: 195px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
}


