body{
    margin: 0px;
}

#startUpWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../Media/Example\ 1.2\(1\).png");
    background-position: center;
    background-size: cover;
}

.contentStartUp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;

    background-image: url("../Media/EggforStartUp.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    animation-name: Opacity;
    animation-duration: 4s;
}

@keyframes Opacity {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0}
}


#startUpWrapper > p {
    font-size: 30px;
}