#wrapper > div {
    text-align: center;
}

#wrapper > div button {
    background-color: var(--blue);
    border-radius: 5px;
    border: 0;
    padding: 7px;
    transition: background-color 0.3s;
}
#wrapper > div button:hover{
    background-color: var(--hover-blue);
}


h3 {
    margin-top: 0;
    margin-bottom: 20px;
}
#time{
    font-family: "Forma";
    
    transition: 0.4s;
    opacity: 1;
    overflow: hidden;
}
#time * {
    position: relative;
    /* bottom: 0;
    top: 0; */
    transition: 0.3s;
}
#estimate {
    margin-bottom: 5px;
}

#wrapper > div button#start {
    width: 100%;
    font-size: var(--big_button_text);
    background-color: var(--blue);
}
#wrapper > div button#start:hover {
    background-color: var(--hover-blue);
}
#wrapper > div button#start.allSelected {
    background-color: var(--yellow);
}
#wrapper > div button#start.allSelected:hover {
    background-color: var(--hover-yellow);
}

.category {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    justify-content: center;
}
.category.size {
    margin-bottom: 10px;
} 
.options{
    display: flex;
    justify-content: space-evenly;
}

.options.size {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.options.size img {
    display: block;

    transition: filter 0.4s;
}
.options.size img:hover {
    --border: 2px;
    --border-minus: -2px;
    --color: var(--hover-blue);

    filter: drop-shadow(var(--border) 0px 0 var(--color)) drop-shadow(0px var(--border) 0 var(--color)) drop-shadow(var(--border-minus) -0px 0 var(--color)) drop-shadow(-0px var(--border-minus) 0 var(--color));
}
.options.size img.clicked {
    --border: 2px;
    --border-minus: -2px;
    --color: var(--yellow);

    filter: drop-shadow(var(--border) 0px 0 var(--color)) drop-shadow(0px var(--border) 0 var(--color)) drop-shadow(var(--border-minus) -0px 0 var(--color)) drop-shadow(-0px var(--border-minus) 0 var(--color));
}
#S {
    width: 30px;
}
#M {
    width: 40px;
}
#L {
    width: 50px;
}
.options.consistency{
    justify-content: space-between;
}

.bottom {
    bottom: 0;
}
.top{
    top: 0;
}

button {
    width: 90px;
}