#wrapper > div {
    text-align: center;
}

#wrapper > div button {
    background-color: #FFC876;
    border-radius: 10%;
    border: 0;
    padding: 10px;
    transition: background-color 0.3s;
}
#wrapper > div button:hover{
    background-color: #f8bd63;
}

h2 span {
    font-family: "Forma";
}
#time{
    font-family: "Forma";
    
    transition: 0.3s;
    opacity: 1;
    overflow: hidden;
}
#time * {
    position: relative;
    /* bottom: 0;
    top: 0; */
    transition: 0.3s;
}

.category {
    
}

.bottom {
    bottom: 0;
}
.top{
    top: 0;
}

.category button {
    justify-content: space-between;
}

/* #time .goingUP {
    bottom: 20px;
}
#time .goingDOWN {
    top: 20px;
} */