@font-face {
    font-family: "Forma";
    src:
      url("./css/font/FormaDJRDeck-Regular.woff"),
}
@font-face {
    font-family: "Forma Thin";
    src:
      url("./css/font/FormaDJRDeck-Thin.woff"),
}
@font-face {
    font-family: "Forma Light";
    src:
      url("./css/font/FormaDJRDeck-Light.woff"),
}
@font-face {
    font-family: "Forma Extra Light";
    src:
      url("./css/font/FormaDJRDeck-ExtraLight.woff"),
}

*{
    font-family: "Forma Light";
}

body {
    margin: 0;
    height: 640px;
    width: 396px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    background-image: url("./Media/Example\ 1.2\(1\).png");
    background-position: center;
    background-size: cover;
    /* background-color: #CAD1D1; */
   /* background: rgb(2,0,36);
    /* background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 100%);  */
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

#whiteScreen {
    position: absolute;
    height: 800px;
    width: 500px;
    background-color: white;
    opacity: 0;

    transition: 0.5s;

    margin-left: -40px;
}
